---
- name: Setup k3s Control Plane
  hosts: control_plane
  become: yes
  tasks:
    - name: Install k3s on Control Plane
      shell: curl -sfL https://get.k3s.io | K3S_KUBECONFIG_MODE="644" sh -
      args:
        creates: /usr/local/bin/k3s
    
    - name: Get k3s Node token
      slurp:
        src: /var/lib/rancher/k3s/server/node-token
      register: node_token_encoded

    - name: Set token fact for other hosts
      set_fact:
        k3s_token: "{{ node_token_encoded.content | b64decode | trim }}"

- name: Setup k3s workers
  hosts: workers
  become: yes
  tasks:
    - name: join workers to cluster
      shell: >
        curl -sfL https://get.k3s.io |
        K3S_URL="https://{{ hostvars[groups['control_plane'][0]]['ansible_default_ipv4']['address'] }}:6443"
        K3S_TOKEN="{{ hostvars[groups['control_plane'][0]]['k3s_token'] }}" 
        sh -
      args:
        creates: /usr/local/bin/k3s-agent