name: Go QA

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
   
    - name: set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24'
        cache: true 
   
    - name: install dependencies
      run: go mod tidy
  
    - name: run linter
      uses: golangci/golangci-lint-action@v4
      with:
        version: latest
        args: --timeout=5m

    - name: run tests
      run: go test -v ./...

    - name: build check
      run: go build -o bin/nebula-manager ./cmd/nebula-manager/main.go